/*Parte Inicial*/

body {
  background-color: #272623;
  /* Caminho para a imagem de fundo */
  background-size: cover;
  /* Para cobrir toda a página com a imagem */
  background-repeat: no-repeat;
  /* Para evitar a repetição da imagem */
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-radius: 30px;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  color: white;
}

/* Estilos para os ícones de rede social */
.social-icons {
  list-style-type: none;
  padding: 0;
  display: flex;
  /* Define o layout como flexível */
  align-items: flex-start;
  /* Alinha os ícones ao topo */
  justify-content: flex-end;
  /* Alinha os ícones à direita */
  position: absolute;
  /* Define a posição absoluta */
  top: -5px;
  /* Distância da borda superior */
  right: 20px;
  /* Distância da borda direita */
}

.social-icons li {
  margin-right: 10px;
  /* Espaçamento entre os ícones */
}

.social-icons li:last-child {
  margin-right: 0;
  /* Remove o espaçamento do último ícone */
}

.social-icons li img {
  width: 40px;
  /* Largura dos ícones */
  height: auto;
  /* Altura automática para manter a proporção */
}

.dados-icons {
  list-style-type: none;
  padding: 0;
  display: flex;
  /* Define o layout como flexível */
  align-items: flex-start;
  /* Alinha os ícones ao topo */
  justify-content: flex-start;
  /* Alinha os ícones à esquerda */
  position: absolute;
  /* Define a posição absoluta */
  top: -5px;
  /* Distância da borda superior */
  left: 20px;
  /* Distância da borda esquerda */
}

.dados-icons li {
  margin-right: 10px;
  /* Espaçamento entre os ícones */
  display: flex;
  /* Configura os itens para usar flexbox */
  align-items: center;
  /* Alinha os itens verticalmente ao centro */
}

.dados-icons li:last-child {
  margin-right: 0;
  /* Remove o espaçamento do último ícone */
}

.dados-icons li img {
  width: 40px;
  /* Largura dos ícones */
  height: auto;
  /* Altura automática para manter a proporção */
}

.logo img {
  width: 40px;
  /* Defina a largura desejada */
  height: auto;
  /* Mantenha a proporção */

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
  /* Cor do texto */
  border-radius: 5px;
  height: 30px;
  background-color: #272623;
  overflow: hidden;
  /* Para limpar os floats */
}

.contaneir {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
  /* Cor do texto */
  border-radius: 10px;
  height: 30px;
  background-color: black;
  background-color: #272623;
  /* Cor de fundo preto com 50% de transparência */
  margin: 0 auto;
  /* Centraliza o conteúdo horizontalmente */
  max-width: 100%;
  /* Define a largura máxima do contêiner */
}

.contaneir a:hover {
  color: pink;
  /* Cor do texto ao passar o mouse */
}

#banner {
  background-color: rgba(255, 192, 203, 0.7);
  /* Cor do banner com 50% de transparência */
  background-image: url("https://images.unsplash.com/photo-1561525140-c2a4cc68e4bd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  /* Imagem de fundo do banner */
  background-size: cover;
  background-position: center;
  height: 730px;
  width: 100%;
  border-radius: 0px;
  position: relative;

}

/* Alinhamento do texto da navegação */
nav {
  text-align: right;
  /* Alinha o texto da navegação à direita */
  margin-top: -5px;
  /* Sobe a navegação em relação ao topo do cabeçalho */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  /* Mantenha os links em linha */
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  line-height: 30px;
  /* Centraliza verticalmente */
}

/* Parte Inicial */

/* Imagens */ 

.image-container {
  display: flex;
  border: 2px solid black; /* Contorno preto de 2px */
  margin-top: 50px;
}

.image-container img {
  height: 300px;
  width: 444px;
  margin: 0 0px; /* Margem entre as imagens */
  border-radius: 0px; /* Bordas arredondadas */
  border: 2px solid black; 
}

/* Imagens */  